body {
  background-color: #fafafa;
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  color: #5d5d5d;
  padding-top: 4.2em;
}

html,
body,
#root {
  height: 100% !important;
}

.container {
  max-width: 1200px !important;
}

.home {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.page-center {
  min-height: 100%;
  /* Fallback for browsers do NOT support vh unit */

  display: flex;
  align-items: center;
  justify-content: center;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.text-right {
  text-align: right;
}

.page-spinner {
  display: inline-block;
}

.text-muted {
  color: #636c72 !important;
}

.banner {
  width: 100%;
  height: 40vh;
  background-image: url("/img/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  filter: drop-shadow();
}

.banner-title {
  font-size: 44px;
  color: white;
  text-align: right;
  margin-right: 12vw;
  width: 26%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.padding-bottom {
  padding-bottom: 2.8em;
}

.section-title {
  font-size: 26px;
  color: #252525;
  padding: 1.8em 0 0.5em;
  /*  text-align: center; */
}

@media only screen and (max-width: 600px) {
  .banner-title {
    font-size: 38px;
    text-align: center;
    width: 74%;
  }
}

.about-description {
  width: 60%;
  font-size: 18px;
  font-weight: 300;
  color: black;
  text-align: center;
  padding-bottom: 2em;
}

.home-content {
  display: flex;
  flex-direction: column;
  /*   justify-content: space-around; */
  /*  align-items: center; */
  padding-bottom: 2.2em;
  margin-bottom: 1em;
  padding-right: 90px;
}

.events {
  display: flex;
  flex-direction: row;
  /*   justify-content: center; */
  align-items: center;
}

.events-decription {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 60%;
  padding: 1em 6em 0;
}

.events-icon {
  height: 8vh;
  margin-bottom: 2.8em;
}

.btn {
  border-radius: 0 !important;
}

.modal-title {
  color: #252525;
  font-weight: 400;
  font-size: 24px;
}

.home-text {
  width: 80%;
  font-size: 18px;
  font-weight: 300;
  color: black;
  padding-bottom: 1em;
  text-align: center;
}

.home-text1 {
  width: 80%;
  font-size: 18px;
  font-weight: 300;
  color: black;
  padding-bottom: 1em;
  /* text-align: center; */
  width: 70vh;
}

.home-subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 2.4em;
}

.objectives {
  list-style-type: none;
  padding: 0;
}

.ambassadors-program {
  align-self: center;
}

.champions-banner {
  margin-bottom: 2.4em;
}

.modal-body {
  height: 15vh !important;
  overflow: scroll;
}

.subscription-modal-body {
  height: auto !important;
  overflow: visible;
}

.champions-modal-body {
  height: 600px !important;
  overflow: scroll;
}

.champions-modal {
  padding: 1.4em;
  color: #252525;
}

.champions-modal h3 {
  font-size: 28px;
  text-align: center;
  margin: 0 0 .4em;
  font-weight: 500;
}

.champions-modal .close-champions {
  margin: 1.4em 1.2em 2em 0;
}

.champions {}

.champions .category {}

.champions .category .category-title {
  margin: .8em 0 .6em;
}

.champions .category .champions-pictures {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.champions .category .champions-pictures .champion {
  width: 50%;
}

.champions .category .champions-pictures .champion .champion-pic {
  width: 3.2vw;
  margin: .4em .8em;
  border-radius: 50%;
  box-shadow: 0 0 4px 1px rgba(192, 192, 192, 0.746);
}

.champions .category .champions-pictures .champion .champion-name {}


.communities {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.comm-link {
  width: 48%;
  transition: all 140ms ease-in-out;
}

.comm-link:hover {
  font-weight: 400;
  transform: scale(1.02);
}

.community {
  background-repeat: no-repeat;
  background-size: cover;
  height: 14vh;
  margin: 8px 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
}

.volunteers {
  background-image: url("/img/volunteers.png");
}

.think40 {
  background-image: url("/img/think40.png");
}

.startup {
  background-image: url("/img/startup.png");
}

.academic {
  background-image: url("/img/academic.png");
}

.university {
  background-image: url("/img/university.png");
}

.news {
  background-image: url("/img/news.png");
}

.footer {
  bottom: 0;
  width: 100%;
  text-align: left;
  border-top: 1px solid #e7e7e7;
  color: rgb(144, 144, 144);
  font-weight: 300;
  font-size: 14px;
  margin-top: 3em;
  padding: 20px 0;
}

.footer .contact-title {
  font-weight: 500;
}

.footer .contact {
  font-size: 0.8em;
}

.footer .ibm-text {
  margin-bottom: 0.12em;
}

.footer-text {
  padding: 0 22px;
  border-left: 1px solid #e7e7e7;
}

.footer-text:first-child {
  border: none;
  padding-left: 0;
  margin-left: 0;
}

.ig-link {
  font-weight: 300;
  color: #418CFF;
}

.ig-text {
  font-size: 0.95em;
  text-align: right;
}

.navbar {
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(209, 209, 209, 0.5);
  min-height: 65px;
}

/* vertically align elements */
.navbar li {
  display: flex;
  align-items: center;
}

.nav-title {
  padding-left: 1em;
  font-size: 0.9em;
  font-weight: 500;
}

.nav-text-link {
  align-self: center;
  margin-right: 10px;
}

.sections-row .nav-link {
  color: #a2a2a2;
  font-weight: 600;
  font-size: 1.2em;
  padding: 0;
  margin-right: 1em;
}

.sections-row .nav-link:hover,
.sections-row .nav-link.active {
  color: #565656 !important;
}

.profile-text {
  color: rgba(0, 0, 0, 0.68);
  font-weight: 300;
}

.profile-text:hover {
  color: rgba(0, 0, 0, 0.58);
}

.profile-picture {
  object-fit: contain;
  width: 34px;
  height: 34px;
  margin: 0 20px;
  border-radius: 50%;
  background-image: url("/img/avatar_placeholder.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.flex {
  display: flex;
}

.clickable {
  cursor: pointer;
}

.lnr {
  display: inline-block;
  fill: currentColor;
  width: 1em;
  height: 1em;
  vertical-align: 0;
  margin-right: .4em;
}

.am-link,
a {
  color: #A4A4A4;
  font-weight: 300;
  text-decoration: none !important;
}

.am-link:hover,
a:hover {
  color: #565656 !important;
  text-decoration: none !important;
  cursor: pointer;
}

.am-link-blue {
  color: #418CFF;
  font-weight: 400;
  text-decoration: none !important;
}

.am-link-blue:hover {
  color: #0062FF !important;
  text-decoration: none !important;
  cursor: pointer;
}

.am-link-teal {
  color: #00BAB6 !important;
}

.am-link-teal:hover {
  color: #009E9A !important;
}

.faq-link {
  /* color: rgba(0, 0, 0, 0.68) !important; */
  color: #FF767C !important;
  text-decoration: none !important;
  cursor: pointer;
  font-weight: 200;
}

.faq-link:hover {
  color: #FF767C !important;
}

.light {
  font-weight: 300;
}

.bold {
  font-weight: 700;
}

.no-padding {
  padding: 0;
}

.event-page-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 6vh;
  width: 100%;
}

.card-title {
  color: #252525;
  font-size: 1.2em;
}

.card-text {
  color: #252525;
  font-size: 1em;
  font-weight: 300;
}

.teal-btn {
  border: 1px solid #00BAB6;
  color: #00BAB6;
  background-color: white;
  border-radius: 0;
  font-weight: 300;
  margin-left: 10px;
}

.teal-btn:hover,
.teal-btn:active {
  background-color: #009E9A !important;
  border: 1px solid #00BAB6;
  transition: 0.2s all;
  outline: 0;
}

.bt-padding {
  padding-left: 0.5rem;
}

.blue-btn {
  background-color: #418CFF;
  border-radius: 0;
  border: none;
}

.blue-btn:hover,
.blue-btn:active {
  background-color: #0062FF !important;
  transition: 0.1s all;
  outline: 0;
}

.download-btn {
  margin: 0 5px;
}

.infinite-scroll-component {
  overflow: hidden !important;
  display: flex;
  flex-wrap: wrap;
}

.selector {
  margin: auto;
  align-content: center;
  height: fit-content;
}

.btn-cancel {
  color: #6c757d;
  background-color: rgba(248, 249, 250, 0.5);
  border-color: #6c757d;
  border-radius: 0;
  font-weight: 300;
  margin-left: 10px;
}


.motive-modal {
  overflow: hidden;
  height: 250px !important;
}

.unsubscribe-box {
  display: flex;
  justify-content: space-around;
  margin-top: 3vh;
}