.thanks-container p a {
  font-size: 1em;
}

.thanks-container a {
  font-size: 1.2em;
}

.thanks-container h3 {
  margin-bottom: 0.8em;
}

.thanks-container p {
  font-size: 1.1em;
  margin: 5px;
}

.thanks-container .thanks-text {
  margin-bottom: 2em;
}