extends layout.pug

- var link = process.env.URL;

block foot
       footer Estás recibiendo este mail porque te registraste como Embajador de IBM Argentina. Si no querés seguir participando de esta iniciativa, podes desuscribirte <a class="blue-link" href='#{link}/unsubscribe/'>aquí</a>.